{{#if resume.interests.length}}
  <section id="interests">
    <div class="grid grid--no-spacing">
      <div class="cell cell--2-col cell--2-col-tablet cell--4-col-phone">
        <h2 class="typography--adjust-margin">Interests</h2>
      </div>
      <div class="cell cell--10-col cell--6-col-tablet cell--4-col-phone">
        {{#each resume.interests}}
          <div class="item">
            <p>
              {{#if name}}
                <span class="name">
                  {{name}}
                </span>
              {{/if}}
            </p>
            {{#if keywords.length}}
              <ul class="keywords">
                {{#each keywords}}
                <li>{{.}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </section>
{{/if}}