{{#if resume.skills.length}}
  <section id="skills">
    <h2>Skills</h2>
    {{#each resume.skills}}
      <div class="item">
        <p>
          <strong>
            {{#if name}}
              <span class="name">
                {{name}}
              </span>
            {{/if}}
            {{#if name}}
              {{#if level}}
                <span>·</span>
              {{/if}}
            {{/if}}
            {{#if level}}
              <span class="level">
                <em>{{level}}</em>
              </span>
            {{/if}}
          </strong>
        </p>
        {{#if keywords.length}}
          <ul class="keywords">
            {{#each keywords}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    {{/each}}
  </section>
{{/if}}